/*==========================================
Reset styles
==========================================*/
@import "./reset.scss";

/*==========================================
Fonts
==========================================*/
@font-face {
  font-family: "Junegull Regular";
  src: local("Junegull-Regular"),
    url("fonts/junegull-regular/junegull-regular.woff2") format("woff2"),
    url("fonts/junegull-regular/junegull-regular.woff") format("woff"),
    url("fonts/junegull-regular/junegull-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: wrap;
}

/*==========================================
General styles
==========================================*/
body {
  font-family: "Junegull Regular", sans-serif;
}

h2 {
  font-size: 30px;
}

/*==========================================
General styles
==========================================*/
@import "./components/container";
@import "./components/popUp";
@import "./components/choose-player";
@import "./components/instruction";
