/*==========================================
Fonts
==========================================*/
@font-face {
  font-family: "Junegull Regular";
  src: local("Junegull-Regular"),
    url("fonts/junegull-regular/junegull-regular.woff2") format("woff2"),
    url("fonts/junegull-regular/junegull-regular.woff") format("woff"),
    url("fonts/junegull-regular/junegull-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: wrap;
}

/*==========================================
General styles
==========================================*/
body {
  margin: 0;
  padding: 0;
  font-family: "Junegull Regular", sans-serif;
}

/*==========================================
ChoosePlayer
==========================================*/
.form-choose-player {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  width: 500px;
  margin: 0 auto;
  transform: translateY(-300%);
  .label {
    position: relative;
    padding: 20px 30px;
    margin: 0 20px;
    border: 2px solid #000;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: #000;
      transition: all 0.2s linear;
    }
  }
  input[type="submit"] {
    width: 140px;
    height: 60px;
    margin: 40px auto 0;
    font-family: "Junegull Regular", sans-serif;
    font-size: 30px;
    border: 2px solid #000;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background: #000;
      color: #fff;
    }
  }

  h2 {
    padding-bottom: 20px;
  }
}

@import "./components/container";
@import "./components/popUp";
@import "./components/choose-player";
@import "./components/instruction";
